body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 200vh;
  font-size: 16px;
}

.App-header {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-between;
  align-items: center;
  padding-right: 28px;
  margin-top: 54px;
  background-color: #101010;
  margin-bottom: 600px;
  font-weight: 600;
}

.coma {
  display: none;
}

.App-descr .arrow {
  display: none;
}

.App-descr {
  color: #fff;
}

.App-descr .yellow {
  color: #d7a830;
  margin: 0 12px;
}

.App-nov {
  position: relative;
  padding: 0 12px;
}

.App-nov::before,
.App-nov::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fff;
  opacity: 0.15;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
}
.App-nov::before {
  left: 0;
}
.App-nov::after {
  right: 0;
}
.btn-shop {
  background-color: #fff;
  font-weight: 600;
  padding: 10px 14px;
  color: #0b0b0b;
  border-radius: 100px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn__wrapper {
  display: flex;
  align-items: center;
}

.close-btn {
  width: 24px;
  height: 24px;
  margin-left: 14px;
  cursor: pointer;
}

.banner {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  font-weight: 600;
}

.banner.active {
  opacity: 1;
  visibility: visible;
}

.banner__inner {
  position: relative;
  background: -webkit-linear-gradient(to right, #000, #333);
  background: linear-gradient(to right, #000, #333);
  width: 600px;
  height: 340px;
  border-radius: 16px;
}

.baloons {
  height: 100%;
  border-radius: 16px;
}

.App-descr .yellow.day {
  margin: 0;
}

.banner__wrapper {
  border-radius: 16px;
  display: flex;
  align-items: center;
  color: #fff;
  height: 100%;
}

.banner__close {
  position: absolute;
  right: 0;
  top: 22px;
  right: 22px;
}

.friday {
  font-size: 46px;
  margin-bottom: 25px;
}

.off {
  font-size: 40px;
  color: #7d5317;
  margin-bottom: 14px;
}

.use {
  font-size: 16px;
  color: #6c6c70;
  margin-bottom: 40px;
}

.use span {
  color: #d7a830;
}

.banner__descr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-now {
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  color: #ffff;
  background-color: #ffff;
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 14px;
  border: none;
  cursor: pointer;
}

@media (max-width: 835px) {
  .btn__wrapper .close-btn {
    display: none;
  }
  .App-descr .date {
    display: none;
  }
  .App-descr .yellow {
    margin: 0;
  }
  .App-nov.yellow {
    margin: 0 12px;
  }
  .App-descr .november {
    display: none;
  }
}

@media (max-width: 400px) {
  .App-header {
    position: relative;
    height: 54px;
    padding-right: 0;
  }
  .App-descr .day {
    display: none;
  }
  .shop-now span {
    display: none;
  }
  .btn__wrapper .btn-shop {
    display: none;
  }
  .App-descr .code {
    display: none;
  }
  .App-nov::before,
  .App-nov::after {
    display: none;
  }
  .App-header .img__cont,
  .App-header .img__cont img {
    height: 100%;
  }
  .App-header .img__cont {
    width: inherit;
    position: relative;
    height: 100%;
    position: absolute;
    left: -60px;
  }
  .App-descr {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .App-descr p {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .App-nov.yellow {
    margin: 0;
    padding: 0;
  }
  .coma {
    display: block;
  }
  .App-descr img {
    margin-left: 18px;
    margin-right: 24px;
  }
  .baloons {
    position: absolute;
    left: -152px;
  }
  .banner__descr {
    z-index: 1;
  }
  .App-descr .arrow {
    display: block;
  }
}
